<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <title>Diabetic Retinopathy Detection ML App</title>
</head>

<body>

<!-- Banner -->
<div>
  <img src="/static/images/dr_banner.png" style="width:100%">
</div>

<div class="text-center mt-3">
  <p class="mt-2">Upload a retina (fundus) image to check for Diabetic Retinopathy</p>
</div>

<!-- Form -->
<form action="/predict" method="post" enctype="multipart/form-data" 
      style="margin-top:50px; width:60%; text-align:center; margin:auto;">

    <input type="file" name="image" class="form-control" accept="image/*" required>
    <br>
    <input type="submit" value="Predict" class="btn btn-primary">

</form>

</body>
</html>
