<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <title>Result - Diabetic Retinopathy Detection</title>
</head>

<body>

<!-- Banner -->
<div>
  <img src="/static/images/dr_banner.png" style="width:100%">
</div>

<div class="container mt-5">
  <div class="row">

    <div class="col-sm text-center">
      <img src="/{{ user_image }}" alt="User Image" class="img-thumbnail" style="max-height:400px;">
    </div>

    <div class="col-sm text-center">
      <h1>Result: <span class="badge badge-secondary">{{ pred_output }}</span></h1>
    </div>

  </div>

  <div class="text-center mt-4">
    <a href="/" class="btn btn-primary">Try Another Image</a>
  </div>
</div>

</body>
</html>
